*.meta
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
[Ee]xported[Oo]bj/
*.pidb
*.suo
*.user
*.booproj
[Oo]bj/
[Bb]uild
sysinfo.txt
*/.vs
*.stackdump
*/Library/ScriptAssemblies
*/Library/metadata
*/Library/ShaderCache
*/Library/PackageCache
*/Temp