.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
[Ee]xported[Oo]bj/
[Oo]bj/
[Bb]uild
sysinfo.txt
*/.vs
*.stackdump
*/.vsconfig

*.csproj
*.sln
*.pidb
*.suo
*.user
*.booproj

# Unity Project Folders
*/Temp
*/Library
*/UserSettings
*/Packages
*/Logs

# Test Data
*/Assets/TestData
*/Assets/TestData.meta