*.meta
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
[Ee]xported[Oo]bj/
*.pidb
*.suo
*.user
*.booproj
[Oo]bj/
[Bb]uild
sysinfo.txt
*/.vs
*.stackdump

# Unity Project Folders
*/Temp
*/Library
*/UserSettings
*/Packages
*/Logs